<img src="assets/camp.jpg" alt="Camp Image">

<div class="logo-container">
  <img src="assets/camplogo2.png" alt="Camp Logo" class="camplogo">
</div>

<div class="overlay">
  <h1><span class="outline">Camp</span>Town</h1>
  <h3>Sri Lanka</h3>
  <p>Discover Your Outdoor Adventure: Camptown - Where Every Journey Begins. Explore Nature's Beauty, Unwind Under the Stars, and Create Memories That Last a Lifetime. Your Perfect Camping Experience Starts Here!</p>
  <button class="round-button" (click)="goToDistrictSelection()">Let's Camp</button>
  <div class="follow-us">
    <p>Follow Us:</p>
    <img src="assets/icons/facebook.png" alt="FacebookIcon" class="social-icon">
    <img src="assets/icons/instagram.png" alt="InstagramIcon" class="social-icon">
    <img src="assets/icons/tiktok.png" alt="TikTokIcon" class="social-icon">
  </div>
</div>
